<p>Everyone has materials sitting around their house that they don't know what to do with &mdash; old or broken appliances, burnt-out fluorescent light bulbs, bags of dead batteries waiting to find a final resting place.</p>

<p><strong><em>What Do I Do With...?</em></strong> was inspired by King County's <a href="http://your.kingcounty.gov/solidwaste/wdidw/" target="_blank">original recycling website</a>, which provides information on local businesses willing to accept and responsibly dispose of a variety of unwanted materials.</p>

<p>The application you see here builds on King County's website by incorporating geolocation, distance, and mapping features, as well as an improved user experience, particularly for mobile devices. It pulls data on a weekly basis from a <a href="https://data.kingcounty.gov/Environment/What-do-I-do-with-Recycling-options-in-King-County/zqwi-c5q3" target="_blank">public dataset</a> to ensure up-to-date information and includes a public API for easy location-based querying.</p>

<p>This project was created by <a href="http://www.audreycarlsen.com" target="_blank">Audrey Carlsen</a> through <a href="http://www.adadevelopersacademy.org/" target="_blank">Ada Developers Academy</a>.</p>

<p>Special thanks goes to Al Boss and Jay Beach at King County for their enthusiasm and encouragement.</p>

<p><em>Check out the code <a href="https://github.com/audreycarlsen/recycling_app" target="_blank">here</a>.</em></p>