<h4 style="margin-top: -5px;"><strong>Requests</strong></h4>

<p>A WDIDW Location API request takes the following form:</p>

<blockquote>http://www.wdidw.com/api/locations?parameters</blockquote>

<p>Output is in JavaScript Object Notation (JSON).</p>

<hr>

<h4><strong>Parameters</strong></h4>

<p>All parameters are optional and should be separated using the ampersand (&) character. If no parameters are provided, the response will include all locations.</p>

<p>One or more material categories can be included in the query string, separated by commas. Response will only include locations that match all specified materials.</p>

<blockquote><pre>materials="Gaming+Devices,Air+Conditioners"</pre></blockquote>

<p>Locations can also be filtered by address:</p>

<blockquote>city=Seattle<br>
  state=WA<br>
  zipcode=98105
</blockquote>
    
<p>Or by service type:</p>

<blockquote>business=true<br>
  residents=true<br>
  drop_off=true<br>
  mail_in=true<br>
  pick_up=true
</blockquote>

<hr>

<h4><strong>Responses</strong></h4>

<p>A sample HTTP request is shown below:</p>

<blockquote><pre>http://www.wdidw.com/api/locations?materials=TVs,Monitors&zipcode=98006&residents=true</pre></blockquote>
    
<p>This type of request renders JSON in the following format:</p>
<blockquote><pre>
  [ 
    { "_id":
        { "$oid": id },
      "business": true/false,
      "city": city,
      "cost": cost,
      "description": description,
      "drop_off": true/false,
      "hours": hours,
      "latitude": latitude,
      "location_type": location_type,
      "longitude": longitude,
      "mail_in": true/false,
      "materials": [ materials ],
      "max_volume": max_volume,
      "min_volume": min_volume,
      "name": name,
      "phone": phone,
      "pick_up": true/false,
      "residents": true/false,
      "state": state,
      "street": street,
      "website": website,
      "zipcode": zipcode
    }
  ]
</pre></blockquote>

<hr>

<h4><strong>Materials API</strong></h4>

<p>The static materials data used to build WDIDW, including subcategories and descriptions, can be accessed through the following API request:</p>

<blockquote>http://www.wdidw.com/api/materials</blockquote>