<div class="container">
  <h2><strong>What Do I Do With . . . this API?</strong></h2>

  <hr>

  <h3><strong>Requests</strong></h3>

  <p>A WDIDW Location API request takes the following form:</p>

  <blockquote>http://www.wdidw.com/api/locations?parameters</blockquote>

  <p>Output is in JavaScript Object Notation (JSON).</p>

  <h3><strong>Parameters</strong></h3>

  <p>All parameters are optional and should be separated using the ampersand (&) character. If no parameters are provided, the response will include all locations.</p>

  <p>One or more material categories can be included in the query string, separated by commas. Response will only include locations that match all specified materials.</p>

  <blockquote>materials="Gaming+Devices,Air+Conditioners"</blockquote>

  <p>Locations can also be filtered by address:</p>

  <blockquote>
    city=Seattle<br>
    state=WA<br>
    zipcode=98105
  </blockquote>
      
  <p>Or by service type:</p>

    <blockquote>
      <code>business=true</code><br>
      <code>residents=true</code><br>
      <code>drop_off=true</code><br>
      <code>mail_in=true</code><br>
      <code>pick_up=true</code>
    </blockquote>

  <h3><strong>Responses</strong></h3>

  <p>A sample HTTP request is shown below:</p>

  <blockquote><code>http://www.wdidw.com/api/locations?materials=TVs,Monitors&zipcode=98006&residents=true</code></blockquote>
      
  <p>This request renders the following JSON:</p>
  <blockquote>
  <pre>
    [ 
      { "_id": 
          { "$oid": "534c73c76c61739a298e0000" },
        "business": false,
        "city": "Bellevue",
        "cost": "FREE for E-Cycle Washington eligible groups including residents, small businesses (\u003C 50 employees corporate-wide), school districts (no colleges or universities), charities and non-profit groups.",
        "description":"Authorized E-Cycle Washington Collector. Accepts computer monitors for recycling. Non-store donation centers that collect electronics for E-cycle Washington will only take 3 products per donor, per day.",
        "drop_off": true,
        "hours": "Mon-Sun: 7:30am - 6pm",
        "latitude": "47.56053000035939",
        "location_type": "Business",
        "longitude": "-122.1525500001822",
        "mail_in": false,
        "materials": 
          [ "Monitors", "Computers, Laptops, Tablets", "TVs" ],
        "max_volume": "3 products per donor, per day.",
        "min_volume": null,
        "name": "Goodwill Newport Hills Donation Center",
        "phone": "()",
        "pick_up": false,
        "residents": true,
        "state": "WA",
        "street": "5115 112th PL SE",
        "website": "http://www.seattlegoodwill.org/",
        "zipcode": "98006"
      } 
    ]
  </pre></blockquote>

  <h3><strong>Materials API</strong></h3>

  The static materials data used to build WDIDW, including subcategories and descriptions, can be accessed through the following API request:

      http://www.wdidw.com/api/materials
</div>