<div class="container">
  <h1><strong>What Do I Do With...?</strong></h1>

  <p>Not sure what to do with items that aren’t collected curbside? You've come to the right place!</p>

  <p>Every day, King County residents and businesses run across unwanted items that make them wonder: "What do I do with this?" This site was designed to answer that question! To begin, search by key word below or use the drop-down menu to select a general category. The following pages will ask for more information and allow you to narrow your selection.</p>

  <p>Have you ever bought a new appliance and wondered how to get rid of your old one? Found stacks of old business periodicals you want to recycle? Upgraded your organization's computers and ended up with a mountain of old electronic equipment? The "What Do I Do With...?" directory contains listings of hundreds of businesses and organizations that accept unwanted items from residents and businesses in King County, WA, for reuse, recycling, or proper disposal.</p>

  <hr>

  <%= form_tag do %>
    <div class="col-xs-3">
      <%= select_tag "material", options_from_collection_for_select(@materials, "id", "name"), prompt: "Select a category", class: "form-control input-sm select_box" %>
    </div>
  <% end %>
  <button type="submit" class="btn btn-sm btn-success search_button">GO</button>

  <div id="material_result">
  </div>

  <script id="material-result-template" type="text/x-handlebars-template">
    <div id="material_result">
      <h4><em>What do I do with... </em></h4>
      <strong><h3>{{name}}</h3>
      <p>Step 1: Select specific materials</p></strong>

      <%= form_tag(locations_path, method: "get") do %>
        <div class="checkbox">
          {{#each subcategories}}
            <p>
              <div class="watched-checkbox">
                <input name="subcategories[]" type="checkbox" value="{{name}}" />
              </div>
              <strong>{{name}}</strong><br>{{description}}
            </p>
          {{/each}}
        </div>

        <div class="checkbox">
          <div class="checkbox-all">
            <input checked=true name="subcategories[]" type="checkbox" value="All {{name}}" />
          </div>
          <strong>All <span class="label-all">{{name}}</span></strong>
        </div>
      
        <p><strong>Step 2: Is this material generated from your business or residence?</strong></p>

        <label class="radio-inline">
          <input name="type" type="radio" value="Business" /> Business
        </label>
        <label class="radio-inline">
          <input name="type" type="radio" value="Residence" /> Residence
        </label>

        <br><br>

        <p><strong>Step 3: Enter your address to find drop-off locations nearest to you</strong></p>
        <em>ex: 1301 5th Ave, Seattle, WA 98101</em><br>

        <div class="form-group">
          <input name="displayed_address" type="text" id="displayed_address_field" class="form-control" style="width:40%"/>
        </div>
        <div class="invalid_address"></div>
        <input name="address" type="text" id="address_field" class="form-control" style="width:40%"/>

        <br>

        or <button type="button" class="btn btn-sm btn-info current_location">Use Current Location</button>

        <p><div class='error'></div></p>

        <p><button type="submit" class="btn btn-lg btn-warning onward-button">Onward, to glory!</button></p>
      <% end %>
    </div>
  </script>
</div>