<div class="container">
  <h1><strong>What Do I Do With...?</strong></h1>

  <p>Not sure what to do with items that aren’t collected curbside? You've come to the right place!</p>

  <p>Every day, King County residents and businesses run across unwanted items that make them wonder: "What do I do with this?" This site was designed to answer that question! To begin, search by key word below or use the drop-down menu to select a general category. The following pages will ask for more information and allow you to narrow your selection.</p>

  <p>Have you ever bought a new appliance and wondered how to get rid of your old one? Found stacks of old business periodicals you want to recycle? Upgraded your organization's computers and ended up with a mountain of old electronic equipment? The "What Do I Do With...?" directory contains listings of hundreds of businesses and organizations that accept unwanted items from residents and businesses in King County, WA, for reuse, recycling, or proper disposal.</p>

  <hr>

  <%= form_tag do %>
    <div class="col-xs-3">
      <%= select_tag "material", options_from_collection_for_select(@materials, "id", "name"), prompt: "Select a category", class: "form-control input-sm select_box" %>
    </div>
  <% end %>
  <button type="submit" class="btn btn-sm btn-success search_button">GO</button>

  <div id="material_result">
  </div>

  <script id="material-result-template" type="text/x-handlebars-template">
    <div id="material_result">
      <h4><em>What do I do with... </em></h4>
      <strong><h3>{{name}}</h3>
      <p>Step 1: Select specific materials</p></strong>

      <%= form_tag(locations_path, method: "get") do %>
        {{#each subcategories}}
          <p>
            <input name="subcategories[]" type="checkbox" value="{{name}}" />
            <strong>{{name}}</strong><br>{{description}}
          </p>
        {{/each}}

        <input checked="checked" name="subcategories[]" type="checkbox" value="EVERYTHING!" />
        <strong>All</strong>
      
        <br><br><p><strong>Step 2: Is this material generated from your business or residence?</strong></p>

        <input name="type" type="radio" value="Business" /> Business
        <input name="type" type="radio" value="Residence" /> Residence

        <br><br><p><strong>Step 3: What type of service are you looking for?</strong></p>
        <input name="service" type="radio" value="pick_up" /> Pick-Up
        <input name="service" type="radio" value="drop_off" /> Drop-Off
        <input name="service" type="radio" value="mail_in" /> Mail-In

        <br><br><p><strong>Step 4: Input your address</strong></p>
        <em>ex: 1301 5th Ave, Seattle, WA 98101</em><br>
        <div class="form-group">
          <input name="address" type="text" id="address_field" class="form-control" style="width:33%"/>
        </div>
        <div class='current_location'>
          <button type="button" class="btn btn-info">Use Current Location</button>
        </div>
        <br>
        <div class='error'></div>
        <div class='long'> </div>
        <div class='lat'> </div>

        <br><br><p><button type="submit" class="btn btn-lg btn-warning">Onward, to glory!</button></p>
      <% end %>
    </div>
  </script>
</div>