<h1>Welcome to Audrey's Mappy App</h1>

<div class='location'>
  <button>Use Current Location</button>
</div>
<br>
<div class='error'></div>
<div class='long'> </div>
<div class='lat'> </div>

<p><div id="map" style="width:600px; height:400px;"></div></p>