/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  padding-bottom: 50px;
  font-family: 'Open Sans', sans-serif;
}

.location-table {
  font-size: .857em;
}

.css-class-here {
  text-transform: lowercase;
}

.label-all {
  text-transform: lowercase;
}

li {
  margin-left: -23px;
}

.invalid_address {
  color: red;
}

.clear {
  clear: both;
}

.gray {
  color: #B8B8B8;
}

.learn-more:hover {
  color: #888888;
}

.popover-content {
  padding: 9px 14px;
  font-size: .857em;
}

.small-text {
  font-size: .857em;
}

.email-notification {
  padding-left: 5px;
  color: green;
  font-size: .857em;
}

.email-error, #error {
  padding-left: 5px;
  color: red;
  font-size: .857em;
}

.material-block {
  margin-bottom: 5px;
  margin-right: 10px;
  vertical-align: top;
  font-size: .928em;
}

.search_button {
  margin-left: 10px;
}

.select_box {
  float: left;
  width: 82%;
}

#displayed_address_field {
  width: 100%;
}

.current-location-block {
  margin-top: 10px;
}

.example-address {
  font-size: .857em;
}

.or {
  margin-right: 5px; 
}

@media (min-width: 550px) {
  .material-block {
    display: inline-block;
    width: 47%;
  }

  .select_box {
    width: 60%;
  }

  #displayed_address_field {
    width: 50%;
    display: inline-block;
  }

  .current-location-block {
    display: inline-block;
  }

  .example-address {
    margin-bottom: -5px;
  }

  .or {  
    margin-left: 8px
  }
}

@media (min-width: 700px) {
  .select_box {
    width: 45%;
  }
}

@media (min-width: 975px) {
  .material-block {
    display: inline-block;
    width: 31%;
  }

  .select_box {
    width: 35%;
  }

  #displayed_address_field {
    width: 33%;
  }
}

@media (min-width: 992px) {
  .map-container {
    margin-top: -65px;
  }
}

@media (max-width: 992px) {
  .map-container {
    margin-bottom: 20px;
  }
}

.locations_desc_row {
  display: none;
}

.locations_desc_row td {
  vertical-align: top;
}

blockquote {
  font-family: "Courier", sans-serif;
  font-size: .928em;
}

.fixed-col-1 {
  width: 8%;
}

.fixed-col-2 {
  width: 92%;
}

.fixed-col-a {
  width: 8%;
}

.fixed-col-b {
  width: 73%;
}

.fixed-col-c {
  width: 19%;
}

.opaque {
  opacity: 0.25;
}

.hover-text {
  position: absolute;
  top: 57%;
  text-align: center;
  z-index: 2;
  width: 100%;
  display: none;
  text-shadow: 2px 2px #dedede;
}

.email-me-form {
  float:left;
  margin-right: 7px;
  margin-top: -10px;
}

.email-me-button {
  margin-top: -13px;
}